* {
	font-size: 14px;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: .5px;
}

a:hover {
/*	color: #1CA5AA;*/
    color: #008388;
}
a:link{
	color: #222;
	text-decoration: none;
}
a:visited{
/*	color: #1CA5AA;*/
    color: #008388;
}
.top-navbar ul li {
	/*color: #999;*/
	color: #000;
	margin-right: 1rem;
	display: inline-block;
	line-height: 70px;
}

.top-navbar ul li .fa {
	margin-right: 5px;
	font-size: 17px;
}

.top-navbar ul {
	margin-bottom: 0;
}

.top-navbar ul li span {
	margin-right: 5px;
}

.social ul li a {
	color: #000 !important;
	font-size: 15px !important;
}

.top-navbar .col-md-6:last-child {
	display: block;
	text-align: right;
}

.top-navbar {
	display: block;
	border-bottom: 1px solid #DEDEDE;
	/*padding: 1.7em 0;*/
}

.navbar-brand img {
	width: 215px;
}

.navbar {
	background-color: transparent !important;
	/*padding: 1em 0 2em;*/
	padding: 0;
}

.banner {
	float: left;
	width: 100%;
	height: 55vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.banner:after {
	content: "";
	position: absolute;
	height: 55vh;
	top: 0;
	width: 100%;
	background: #000;
	opacity: 0.45;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 17px;
	color: #222;
	text-decoration: none;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Titillium Web', sans-serif;
	/*text-transform: uppercase;*/
	/*font-weight: 600;*/
	/*margin-top: 10px;*/
	padding-right: .8rem;
	padding-left: .8rem;
	letter-spacing: 1px;
	font-weight: normal;
}

.navbar-light .navbar-brand {
	padding: 0;
}

.navbar-brand img {
	/*margin-top: -7px;*/
	margin-top: 18px;
}

.top-navbar ul li a {
	font-size: 15px;
	cursor: pointer;
}
header .nav-item{
	margin-right: 2px;
}
.navbar-nav .active a, header .nav-item:hover > .nav-link {
/*	color: #1CA5AA !important;*/
    /*background: #008388 !important;*/
    background: #0C4164 !important;
	color: #fff !important;
}

.fa-fw {
	margin-right: 3px;
}

.search .fa-search {
margin: 0 35px;
font-size: 16px;
cursor: pointer;
color: #1CA5AA;
}

a {
	cursor: pointer;
}

.search {
	padding-top: 7px;
}

.dropdown-menu {
	margin: 2.45rem 0 0;
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-color: #eee;
	border-top: none;
}
header .nav-item{
	line-height: 2;
}
.nav-item:hover > .dropdown-menu, .dropdown:hover > .dropdown-menu{
	display: block;
	margin-top: 0;	
	-webkit-box-shadow: 0px 1px 3px -1px #ccc;
-moz-box-shadow: 0px 1px 3px -1px #ccc;
box-shadow: 0px 1px 3px -1px #ccc;
}
.container {
	max-width: 90%;
}

.banner-caption {
	width: 50%;
	display: block;
	margin: 4.5pc auto 0;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 1;
}

.banner-caption h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.banner-caption p {
	font-size: 1.3rem;
	margin-bottom: 15px;
}
.banner .btn{
	color: #fff !important;
}
.btn {
	background-color: transparent;
	border: 2px solid #fff;
	padding: 6px 25px;
	border-radius: 0;
	text-transform: uppercase;
}
.btn-dark{
	background: #23272b;
	color: #fff !important;
	border: none;
}
.btn .fa {
	margin-left: 4px;
}

.head-centre {
	display: block;
	width: 50%;
	text-align: center;
	margin: 3pc auto;
}

.head-centre h3 {
	text-transform: uppercase;
	/*margin-bottom: 1pc;*/
	position: relative;
	font-weight: bold;
}

/*.head-centre h3:after {
	content: "";
	width: 125px;
	height: 2px;
    background-color: #0C4164;
	display: block;
	margin: 25px auto;
}*/

.head-centre p {
	color: #999;
}

.home1 .col-md-4 img,
.home1 .col-md-6 img {
	width: 100%;
	height: 260px;
	object-fit: cover;
}

.home1 .col-md-4 h5,
.home1 .col-md-12 h5 {
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 1.10rem;
	color: #222;
}

.home1 .col-md-4 {
	margin-bottom: 20px;
}
.product-grid .col-md-2 a img,
.product-grid .col-md-4 a img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.product-grid.home {
	float: left;
	width: 100%;
	background-color: #fafafa;
	/*margin-top: 5pc;*/
	padding-bottom: 5.5pc;
	padding-top: 1pc;
}

.product-grid .head-centre h3:after {
	content: "";
	margin: 25px 0;
}

.product-grid .head-centre {
	margin: 2pc 0;
	width: 100%;
	text-align: left;
}

.btn-success,
.btn-success:hover {
	color: #fff !important;
	/*background-color: #1CB7CF;*/
	background: #0C4164;
	border: none;
	font-size: 12px;
}

.product-grid .col-md-2 h5,
.product-grid .col-md-2 h6,
.product-grid .col-md-2 .btn,
.product-grid .col-md-4 h5,
.product-grid .col-md-4 h6,
.product-grid .col-md-4 .btn {
	margin: 10px 0;
	
}
.product-grid .col-md-2 h5{
font-size: 14px;
}
.product-grid .col-md-2 .btn{
padding: 6px 11px;
}
.product-grid .col-md-2>a:first-child,
.product-grid .col-md-4>a:first-child {
	margin-top: 0 !important;
	float: left;
	width: 100%;
	color: #222;
	position: relative;
}
/*.product-grid .col-md-2,
.product-grid .col-md-4 {
	margin-bottom: 20px;
}
*/
.product-grid .col-md-2 {
	margin-bottom: 40px;
	max-width: 19.5% !important;
	flex: none;
}

.buy {
	float: right;
	padding: 6px 0px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	margin-top: 11px;
}

strike {
	color: orange;
	float: right;
}

.fa-star {
	font-size: 12px;
	color: #ccc;
}

.fa-star.rated {
	color: #FFC300;
}

.rating {
	float: left;
	width: 100%;
	margin-bottom: 8px;
}

.tag {
	position: absolute;
	left: 10px;
	top: 10px;
	/*background: #FFC300;*/
	background: #008388;
	color: #fff;
	font-size: 11px;
	padding: 2px 8px;
	border-radius: 3px;
}

.news-letter {
/*	background: #1CA5AA;*/
    /*background: #008388;*/
    background: #0C4164;
	position: relative;
	padding: 1.7em 0;
	color: #fff;
	height: 6em;
	float: left;
	width: 100%;
}

.news-letter .form-control {
	width: 73%;
	padding-right: 3em;
	border: none;
	border: 2px solid #fff;
	background: #fff;
	color: #333333 !important;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
}

.news-letter h2 {
	font-size: 25px;
}



.form-control {
	font-size: 14px;
	height: 40px;
	font-weight: 300;
	margin-bottom: 15px;
}
select.form-control{
    border: 1px solid #ced4da !important;
}
footer {
	padding: 3.5pc 0;
	padding-bottom: 5pc;
	position: relative;
	border-top: 3px solid #008388;
}
.footer-bottom p{
margin-bottom: 0;
}
footer h4 {
	margin-bottom: 30px;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 1px;
}

footer ul li {
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 12px;
}

footer ul li a {
/*	color: #1CA5AA !important;*/
    /*color: #008388 !important;*/
    color: #0C4164 !important;
	font-weight: 300;
}

.footer-bottom {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 25px;
}

.social li {
	width: auto;
	margin-right: 10px;
}

.social li a {
	font-size: 18px;
}

.sticky {
	/*transition: all .2s ease-in-out;*/
	position: relative;
}

.sticky .container {
	max-width: 100%;
	padding: 0;
}

.stuck {
	position: fixed;
	top: 0;
	min-height: 0;
	background-color: #fff !important;
	width: 100%;
	z-index: 9;
	left: 0;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .35);*/
	box-shadow: 0px 4px 0px 0px #eee;
}

.stuck .container {
	max-width: 90%;
	padding: 0 15px;
}

.cart-drop .dropdown-toggle::after {
	content: "";
	border: none;
}

.cart-drop .dropdown-menu {
	margin-top: 21px;
	padding-bottom: 15px;
	right: 0;
	width: 300px;
	left: auto;
}

.cart-drop {
	position: relative;
	top: 12px;
}

.cart-drop .dropdown-menu ul li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}

.cart-drop .dropdown-menu ul li:last-child {
	border: none;
}

.cart-drop .dropdown-menu ul li a img {
	width: 45px;
	height: 45px;
	float: left;
	display: inline-block;
	margin-right: 7px;
	object-fit: cover;
}

.cart-drop .dropdown-menu ul li a {
	float: left;
	width: 100%;
	padding: 7px 0;
}

.btn-small {
	padding: 4px 10px;
	color: #fff !important;
	font-size: 12px;
}

.products-drop .dropdown-menu {
	width: 836px;
	padding: 7px;
	/*margin-top: 35px;*/
	margin-top: 0;
	left: 0;
}

.products-drop .dropdown-menu li h6 {
	padding: 0 7px;
}

.products-drop .dropdown-menu li a {
	padding: 3px 7px;
	font-weight: 300;
	font-size: 13px;
    color:#008388 !important;
    background: transparent !important;
}
.products-drop .dropdown-menu li{
	line-height: 1.7;
}

/*--------------------*/

.search-icon {
	font-size: 20px;
    top: -5px;
    position: relative;
    right: 22px;
    z-index: 9;
}
.search input {
	position: absolute;
	top: 1.5pc;
	/*left: 51pc;*/
	transform: translateY(-50%);
	border-radius: 20px;
	/*border: none;*/
	padding: 9px 0 9px 15px;
	width: 52rem !important;
	font-size: 13px;
	border: 1px solid #ddd;
	right: 167px;
/*
	opacity: 0;
	visibility: hidden;
*/
	/*transition: all .3s;*/
}
.stuck  .search input{
    /*left: 21.3pc;*/
    right: 250px;
}

/*.search.visible input {
	left: 51pc;
	opacity: 1;
	visibility: visible;
}

.stuck .search.visible input {
	left: 50pc;
}*/


/* Back to top button style */

.to-top {
	position: fixed;
	z-index: 9999;
	bottom: 0px;
	right: 2.5pc;
	display: none;
}

.to-top a.back-to-top {
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 2em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	background: #000;
	/*opacity: 0.7;*/
	transition: 0.3s;
}

.to-top a.back-to-top:hover {
	opacity: 1;
}

.dropdown-menu {
	transition: 0.3s;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.show {
	display: block;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #000;
	outline: 0;
	box-shadow: none;
}


/*------------------------------zoom-in-pop-up-end-------------------*/

.modal-content {
	border: none;
	border-radius: 2px;
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.modal-header {
	border-bottom: 0;
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 26px;
	padding-bottom: 0px;
}

.modal-title {
	font-size: 34px;
}

.modal-body {
	border-bottom: 0;
	padding-top: 5px;
	padding-right: 26px;
	padding-left: 26px;
	padding-bottom: 10px;
	font-size: 15px;
}

.modal-footer {
	border-top: 0;
	padding-top: 0px;
	padding-right: 26px;
	padding-bottom: 26px;
	padding-left: 26px;
}
/*.btn-default,.btn-primary {
    border: none;
    border-radius: 2px;
    display: inline-block;
    color: #424242;
    background-color: #FFF;
    text-align: center;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem; 
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    letter-spacing: .5px;
    transition: .2s ease-out;
}*/

.btn-default:hover {
	background-color: #FFF;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-primary {
	color: #FFF !important;
	background-color: #008388;
	border: 1px solid #008388;
}

.btn-primary:hover {
	background-color: #008388;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #008388;
}
.news-letter .btn, .news-letter .btn:hover, .news-letter .btn:focus {
	position: absolute;
	top: 0;
	right: 100px;
	background: #000;
	border: none;
	height: 40px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.f-website {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.f-website h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 100;
	padding: 5px 10px;
	font-style: italic;
	color: #EEE;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.98), 2px 2px 0px rgba(0, 0, 0, 0.96), 3px 3px 0px rgba(0, 0, 0, 0.94), 4px 4px 0px rgba(0, 0, 0, 0.92), 5px 5px 0px rgba(0, 0, 0, 0.9), 6px 6px 0px rgba(0, 0, 0, 0.88), 7px 7px 0px rgba(0, 0, 0, 0.86), 8px 8px 0px rgba(0, 0, 0, 0.84), 9px 9px 0px rgba(0, 0, 0, 0.82), 10px 10px 0px rgba(0, 0, 0, 0.8), 11px 11px 0px rgba(0, 0, 0, 0.78), 12px 12px 0px rgba(0, 0, 0, 0.76), 13px 13px 0px rgba(0, 0, 0, 0.74), 14px 14px 0px rgba(0, 0, 0, 0.72), 15px 15px 0px rgba(0, 0, 0, 0.7), 16px 16px 0px rgba(0, 0, 0, 0.68), 17px 17px 0px rgba(0, 0, 0, 0.66), 18px 18px 0px rgba(0, 0, 0, 0.64), 19px 19px 0px rgba(0, 0, 0, 0.62), 20px 20px 0px rgba(0, 0, 0, 0.6), 21px 21px 0px rgba(0, 0, 0, 0.58), 22px 22px 0px rgba(0, 0, 0, 0.56), 23px 23px 0px rgba(0, 0, 0, 0.54), 24px 24px 0px rgba(0, 0, 0, 0.52), 25px 25px 0px rgba(0, 0, 0, 0.5), 26px 26px 0px rgba(0, 0, 0, 0.48), 27px 27px 0px rgba(0, 0, 0, 0.46), 28px 28px 0px rgba(0, 0, 0, 0.44), 29px 29px 0px rgba(0, 0, 0, 0.42), 30px 30px 0px rgba(0, 0, 0, 0.4), 31px 31px 0px rgba(0, 0, 0, 0.38), 32px 32px 0px rgba(0, 0, 0, 0.36), 33px 33px 0px rgba(0, 0, 0, 0.34), 34px 34px 0px rgba(0, 0, 0, 0.32), 35px 35px 0px rgba(0, 0, 0, 0.3), 36px 36px 0px rgba(0, 0, 0, 0.28), 37px 37px 0px rgba(0, 0, 0, 0.26), 38px 38px 0px rgba(0, 0, 0, 0.24), 39px 39px 0px rgba(0, 0, 0, 0.22), 40px 40px 0px rgba(0, 0, 0, 0.2), 41px 41px 0px rgba(0, 0, 0, 0.18), 42px 42px 0px rgba(0, 0, 0, 0.16), 43px 43px 0px rgba(0, 0, 0, 0.14), 44px 44px 0px rgba(0, 0, 0, 0.12), 45px 45px 0px rgba(0, 0, 0, 0.1), 46px 46px 0px rgba(0, 0, 0, 0.08), 47px 47px 0px rgba(0, 0, 0, 0.06), 48px 48px 0px rgba(0, 0, 0, 0.04), 50px 50px 0px transparent;
}


/*------------------------------zoom-in-pop-up-end-------------------*/


/*.modal{
	background: rgb(26, 150, 160) none repeat scroll 0% 0%;
	padding-right: 0px;
}*/


/*.modal-dialog{
	max-width: 100%;
	margin: 0;
}
*/

.modal-content {
	box-shadow: none;
	/*background: rgb(26, 150, 160) none repeat scroll 0% 0%;*/
	width: 100%;
	/*height: 100vh;
	padding: 7pc 0;*/
	/*color: #fff;*/
}

button.close {
	position: absolute;
	right: 15px;
	float: right;
	top: 30px;
}

.modal-header {
	position: relative;
	margin-bottom: 15px;
}

.white-logo {
	width: 225px;
}

.modal-footer {
	display: block;
}

.modal-body {
	margin-bottom: 15px;
}

.modal-footer .btn {
	font-size: 12px;
	height: auto;
	line-height: unset;
	padding: 5px 15px !important;
}

.modal-dialog {
	max-width: 500px;
	margin: 3.3pc auto;
}

.btn-default {
	border: 1px solid #dcdcdc;
}

.btn:focus,
.btn.focus {
	outline: 0;
	box-shadow: none;
}

.modal-body .row div:last-child>input {
	margin-bottom: 0;
}

.tab-content {
	display: none;
	/*background: #ededed;
			padding: 15px;*/
}

.tab-content.current {
	display: inherit;
}


/*------------------------------INNER-PAGES-------------------*/

main {
	display: block;
	min-height: 300px;
}

header {
	/*border-bottom: 1px solid #eee;*/
	box-shadow: 0px 4px 0px 0px #eee;
}

.breadcrumb-item {
	display: inline-block;
	font-size: 16px;
	background-color: #eff2f5;
	background: transparent;
}

.breadcrumb {
	margin-bottom: 0;
}

.breadcrumb-item a {
	font-size: 16px;
	color: #008388;
}

.breadcrumb-item a .fa,
.breadcrumb-item .fa {
	margin-right: 4px;
}

.category-list .col-md-3 ul li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.category-list .col-md-3 ul li a {
	float: left;
	width: 100%;
}

.category-list .col-md-3 ul li>ul {
	padding-left: 15px;
	padding-top: 15px;
	float: left;
	width: 100%;
}

.panel {
	float: left;
	border: 1px solid #efefef;
	width: 100%;
}

.category-list .col-md-3>h4,
.panel>h4 {
	font-size: 1.5em;
	color: #212121;
	margin: 0;
	padding: .5em;
	background: #f5f5f5;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}

.category-list .col-md-3 ul li a strong {
	float: right;
	color: #9c9c9c;
	font-weight: 300;
	font-size: 12px;
	line-height: 2;
}

.category-list .col-md-3 ul li a .fa {
	margin-right: 4px;
	color: #008388;
}

.inner{
	float: left;
	width: 100%;
	padding: 45px 0;
}

.category-list .col-md-3>.panel>ul {
	padding: 15px;
	float: left;
	width: 100%;
}


/*----------------------------------PRICE RANGE-------------------*/


/* Ion.RangeSlider
// css version 2.0.3
// Â© 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/


/* =====================================================================================================================
// RangeSlider */

.irs {
	position: relative;
	display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.irs-line {
	position: relative;
	display: block;
	overflow: hidden;
	outline: none !important;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
	position: absolute;
	display: block;
	top: 0;
}

.irs-line-left {
	left: 0;
	width: 11%;
}

.irs-line-mid {
	left: 9%;
	width: 82%;
}

.irs-line-right {
	right: 0;
	width: 11%;
}

.irs-bar {
	position: absolute;
	display: block;
	left: 0;
	width: 0;
}

.irs-bar-edge {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
}

.irs-shadow {
	position: absolute;
	display: none;
	left: 0;
	width: 0;
}

.irs-slider {
	position: absolute;
	display: block;
	cursor: default;
	z-index: 1;
}

.irs-slider.single {}

.irs-slider.from {}

.irs-slider.to {}

.irs-slider.type_last {
	z-index: 2;
}

.irs-min {
	position: absolute;
	display: block;
	left: 0;
	cursor: default;
}

.irs-max {
	position: absolute;
	display: block;
	right: 0;
	cursor: default;
}

.irs-from,
.irs-to,
.irs-single {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	cursor: default;
	white-space: nowrap;
}

.irs-grid {
	position: absolute;
	display: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.irs-with-grid .irs-grid {
	display: block;
}

.irs-grid-pol {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 8px;
	background: #000;
}

.irs-grid-pol.small {
	height: 4px;
}

.irs-grid-text {
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	text-align: center;
	font-size: 9px;
	line-height: 9px;
	padding: 0 3px;
	color: #000;
}

.irs-disable-mask {
	position: absolute;
	display: block;
	top: 0;
	left: -1%;
	width: 102%;
	height: 100%;
	cursor: default;
	background: rgba(0, 0, 0, 0.0);
	z-index: 2;
}

.lt-ie9 .irs-disable-mask {
	background: #000;
	filter: alpha(opacity=0);
	cursor: not-allowed;
}

.irs-disabled {
	opacity: 0.4;
}

.irs-hidden-input {
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	left: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: none !important;
	z-index: -9999 !important;
	background: none !important;
	border-style: solid !important;
	border-color: transparent !important;
}


/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// Â© Denis Ineshin, 2014    https://github.com/IonDen
// Â© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/


/* =====================================================================================================================
// Skin details */

.irs {
	height: 55px;
}

.irs-with-grid {
	height: 75px;
}

.irs-line {
	height: 7px;
	top: 33px;
	background: #EEE;
	background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
	/* W3C */
	border: 1px solid #CCC;
	border-radius: 16px;
	-moz-border-radius: 16px;
}

.irs-line-left {
	height: 8px;
}

.irs-line-mid {
	height: 8px;
}

.irs-line-right {
	height: 8px;
}

.irs-bar {
	height: 7px;
	top: 33px;
	background: #008388;
}

.irs-bar-edge {
	height: 10px;
	top: 33px;
	width: 14px;
	border: 1px solid #428bca;
	border-right: 0;
	background: #428bca;
	background: linear-gradient(to top, rgba(66, 139, 202, 1) 0%, rgba(127, 195, 232, 1) 100%);
	/* W3C */
	border-radius: 16px 0 0 16px;
	-moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
	height: 2px;
	top: 38px;
	background: #000;
	opacity: 0.3;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.lt-ie9 .irs-shadow {
	filter: alpha(opacity=30);
}

.irs-slider {
	top: 29px;
	width: 15px;
	height: 15px;
	background: #DDD;
	background: #00858A;
	border-radius: 27px;
	-moz-border-radius: 27px;
	cursor: pointer;
}

.irs-slider.state_hover,
.irs-slider:hover {
	background: #179CA1;
}

.irs-min,
.irs-max {
	color: #333;
	font-size: 12px;
	line-height: 1.333;
	text-shadow: none;
	top: 0;
	padding: 1px 5px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
	background: #ccc;
}

.irs-from,
.irs-to,
.irs-single {
	color: #fff;
	font-size: 12px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: #008388;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
	background: #999;
}

.irs-grid {
	height: 27px;
}

.irs-grid-pol {
	opacity: 0.5;
	background: #428bca;
}

.irs-grid-pol.small {
	background: #999;
}

.irs-grid-text {
	bottom: 5px;
	color: #99a4ac;
}

.irs-disabled {}


/*----------------------------PRICE RANGE END--------------------------*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #f5f5f5;
	background-image: none;
}


/* Custom Select */

.select {
	position: relative;
	display: block;
	width: 15em;
	/*margin-left: 15px;*/
	height: 40px;
	line-height: 3;
	background: #f5f5f5;
	overflow: hidden;
	border-radius: .25em;
	/*float: right;*/
	color: #12395F;
}

select {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 .5em;
	color: #fff;
	cursor: pointer;
	color: #222;
}

select::-ms-expand {
	display: none;
}


/* Arrow */

.select::after {
	content: '\25BC';
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	padding: 0 1em;
	padding-top: 0px;
	background: #e5e5e5;
	pointer-events: none;
	color: #222;
	font-size: 12px;
	padding-top: 3px;
}


/* Transition */

.select:hover::after {
	color: #008388;
}

.select::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}

#default {
	/*text-align:center;*/
}

.xzoom {
	width: 100% !important;
	box-shadow: none !important;
	border: 1px solid #e5e5e5;
}

.xzoom-thumbs {
	text-align: left;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	display: block;
	margin-top: 15px;
}

.xactive {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
	box-shadow: none;
	border: 2px solid #008388;
}


/*--------------------------RATING---------------------------------------*/

.rating-control {
	display: inline-block;
	color: #ccc;
}

.rating-control label {
	font-family: "FontAwesome";
	font-weight: 900;
	font-size: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 3.5;
	float: right;
	cursor: pointer;
}

.rating-control label:before {
	content: '\f005';
	font-size: 16px;
}

.rating-control input {
	display: none;
}

.rating-control input:checked~label {
	color: orange;
}

.rating-control:hover label {
	color: #ccc !important;
}

.rating-control:hover label:hover,
.rating-control:hover label:hover~label {
	color: orange !important;
}

.pin div input {
	height: 25px;
}

.pin .col-md-4:last-child {
	padding-left: 0;
}

.pin .col-md-4:last-child .btn {
	float: left;
	background: #222;
	color: #fff;
	border: none;
	height: 25px;
	font-size: 10px;
	line-height: 12px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.pin .col-md-3 {
	padding-right: 0;
}

.pin .col-md-3 input {
	border-color: #222;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.bullet {
	padding-left: 12px;
}

.bullet li:after {
	content: "";
	background: #008388;
	height: 6px;
	width: 6px;
	position: absolute;
	left: -12px;
	border-radius: 50%;
	top: 9px;
}

.bullet li {
	position: relative;
	list-style-type: none;
	margin-bottom: 6px;
	display: block;
}

.pin {
	margin-top: 12px;
}
.comments .col-md-1 img{
width: 60px;
height: 60px;
border-radius: 50%;
}
.comments .col-md-10 h6{
	font-weight: 600;
}
.comments ul li{
	float: left;
	width: 100%;
	margin: 12px 0;
}
textarea{
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 3px;
}
.account-drop:hover > .dropdown-menu{
	display: block;
}
.accou {
	margin-top: 0;
	width: 200px;
	left: auto;
}
.accou ul li{
	float: left;
	width: 100%;
	line-height: 30px;
}
.accou ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.accou ul li a{
	padding: 0 15px;

font-size: 13px !important;

font-weight: 300;
}
.pro article{
	float: left;
	width: 100%;
	border: 1px solid #eee;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px -1px #ccc;
	-moz-box-shadow: 0px 1px 3px -1px #ccc;
	box-shadow: 0px 1px 3px -1px #ccc;
}
.pro.inner h5{
	font-size: 14px;
}
.prof h5, .prof h6{
	border: 1px solid #eee;

margin: 0;
border-bottom: none;
padding: 7px 15px;
}
.prof h5{
	border-right: none;
}
/*.prof ul li:last-child *{
	border-bottom:  1px solid #eee;
}*/
.earnings.inner small{
	margin-bottom: 10px;
	display: block;
	color: #9b9b9b;
	font-size: 14px;
}
.list-unstyled .row{
margin-left: 0px;
}
.earnings.inner .fa-download, .earnings.inner .fa-download:hover, .earnings.inner .fa-pencil, .earnings.inner .fa-pencil:hover{
font-size: 20px;

display: block;

background: #12395F;

color: #fff;

width: 40px;

height: 40px;

text-align: center;

line-height: 40px;

border-radius: 50%;

position: relative;

top: 16px;
margin: auto;
}
.earnings.inner .fa-pencil, .earnings.inner .fa-pencil:hover{
	margin-bottom: 25px;
}
.earnings.inner .col-md-2{
	text-align: center;
}
.earnings.inner .col-md-2 h5{
	font-size: 15px;
	color: #12395F;
	font-weight: 600;
}
.earnings.inner .col-md-10:nth-child(3) h5{
	color: #12395F;
	font-weight: 600;
}
.pro.inner .row .col-md-3 ul{
    float: left;	
    width: 100%;
}
.pro.inner .row .col-md-3 ul li{
    float: left;
    width: 100%;
}
.pro.inner .row .col-md-3 ul li:first-child{
    background: #f6f6f6;
    padding: 7px 15px;
    font-weight: bold;
    line-height: 1.7;
    float: left;
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 12px;
}
.pro.inner .row .col-md-3 ul li:first-child .far{
    font-size: 22px;
    float: left;
    margin-right: 5px;
}
.pro.inner .row .col-md-3 ul li a{
    float: left;
    width: 100%;
    background: #f6f6f6;
    border-bottom: 1px solid #eee;
    padding: 7px 15px;
    transition: all 0.5s ease;

}
.pro.inner .row .col-md-3 ul li a i{
    margin-right: 5px;
}
.pro.inner .row .col-md-3 ul .active > a, .earnings.inner .row .col-md-3 ul li:hover > a{
    border-left: 4px solid #2E3F60;
}
.pro.inner .row .col-md-3 ul li .fa-user-circle{
	font-size: 22px !important;
	float: left;
	color: #12395F;
	margin-right: 5px;
}
.prof .col-md-6 h5, .prof .col-md-6 h6{
padding: 0;
border: none;
float: left;

width: 100%;
}
.prof .col-md-6 h5{
	margin-bottom: 15px;
}
.prof .col-md-6 h6{
	border: none !important;
}
.prof .col-md-6 h6 input{
	border-color: #ced4da !important;
}
.cart{
	width: 100%;
}
table th{
	padding: 12px 12px;
	border: 1px solid #eee;
	background: #eee;
}
table td{
	padding: 12px;
	border: 1px solid #eee;
}
.cart td img{
	width: 100px;
	height: 70px;
	object-fit: cover;
}
.cart td span{
	padding-left: 5px;
}
.cart td input{
    width: 35%;
    margin: 0 auto;
    text-align: center;
}
.cart td strike {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}
/*-------------------------RADIO-CHECK-BOX--------------*/

.checkbox,
.radio {
  position: relative;
  margin-bottom: 0.5rem;
  display: inline-block;
margin-right: 6px;	
}
.checkbox input,
.radio input {
  display: none;
}
.checkbox label,
.radio label {
  padding-left: 1.4rem;
}
.checkbox label::before,
.radio label::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: #c6c7cb;
  position: absolute;
  top: 4;
  left: 0;
}
.checkbox label::after,
.radio label::after {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  border: 3px solid transparent;
  top: 4px;
  left: 0;
  box-sizing: border-box;
  background-clip: content-box;
}
.checkbox input:checked + label::after,
.radio input:checked + label::after {
  background-color: #008388;
}

.checkbox label::before,
.checkbox label::after {
  border-radius: 2px;
}

.radio label::before,
.radio label::after {
  border-radius: 20px;
}
#default .nav-tabs{
margin-top: 10px;
}
.hero .owl-nav button{
	position: absolute;
	top: 35%;
}
.hero .owl-nav button span{
	font-size: 50px;
	color: #fff;
}
.hero .owl-nav button.owl-prev{
	left: 30px;
}
.hero .owl-nav button.owl-next{
	right: 30px;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
	background: transparent;
	outline: none;
}
.hero .owl-dots{
margin-top: -48px;
z-index: 9999;
position: relative;
}
.home1 .owl-dots{
display: none;
}
#owl2 .owl-nav button{
	position: absolute;
	top: -70px;
}
#owl2 .owl-nav button span{
	font-size: 32px;
	/*color: #008388;*/
	color: #0C4164;
}
#owl2 .owl-nav button.owl-prev{
	right: 30px;
}
#owl2 .owl-nav button.owl-next{
	right: 0px;
}
#owl2 .btn-success{
	color: #fff !important;
}
/*-------------------------Responsive--------------*/

@media only screen and (max-width: 788px) {
.banner-caption{
width: 70%;
margin: 5.5pc auto 0;
}
    .search{
    }
.search input {
    position: absolute;
    right: 0;
    width: 80% !important;
}
    .search-icon {
    font-size: 20px;
    top: 15px;
    position: absolute;
    right: 0;
        width: 30px;
}
    
    .search-icon .fa{
        margin: 0 !important;
    }
    .search{
        width: 80%;
    }
    .stuck .search input{
        right: 0;
    }
    .product-grid .col-md-2{
        max-width: 100% !important;
    }
    navbar-nav {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
}
    .navbar{
        padding: 18px 0;
    }
    .navbar-toggler{
        top: -9px;
        position: relative;
    }
.head-centre{
width:100%;
}
.news-letter{
height:auto;
}
.news-letter .btn{
right: 12px;
padding: 6px 15px;
}
.news-letter .form-control{
width:100%
}
.news-letter h2 {
font-size: 19px;
margin-top: 34px;
margin-bottom: 14px;
}
.pro.inner .row .col-md-3{
padding-left:0px;
padding-right:0px;
}
.pro.inner .row .col-md-3 ul{
margin-top:15px;
}
header .nav-item{
line-height: 1.5;
}
.top-navbar ul li{
margin-right: 0px;
float:left;
line-height: 36px;
}
.search.visible input{
left: -20px;
   margin-top: 17px;
}
.navbar-brand img{
margin-top: 8px;
}
.btn-default {
margin-top: 10px;

}
#default .btn{
margin-left:0px !important;
}
.xzoom{
margin-top:10px;
}
.stuck .search.visible input {
    left: 10px;
    margin-top: 17px;

}
#default .col-md-7 h4{
margin-top:5px;
}
.category-list .col-md-9 .select{
margin-top:10px;
}





}
.error{
    float: left;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 11px;
      -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}