*{
font-size: 14px;
}
.card-small .card-body, .card-small .card-footer, .card-small .card-header {
    padding: 1rem 1rem !important;
}
.error{
height: auto;
}
.form-control:focus{
border-color: #C39E00 !important;
}
.form-control{
font-size: 14px;
}
.btn{
color: #fff;
border-color: #C39E00;
padding: 5px 9px;
background-color: #C39E00;
box-shadow: none;
font-size: 10px;
}
.pb-4, .py-4 {
padding: 1rem  0 !important;
}
.btn-group-sm > .btn, .btn-sm{
padding: 4px 15px;
font-size: 14px;
}
b, strong {
font-weight: bolder !important;
}
a{
cursor: pointer;
color: #C39E00;
}
#main-logo{
margin-top: 22px;
margin-left: -11px;
width: 170px; 
}
.main-sidebar .nav .nav-item .nav-link.active i, .main-sidebar .nav .nav-item .nav-link:hover i, .main-sidebar .nav .nav-item.active i, .main-sidebar .nav .nav-item:hover i {
color: #C39E00;
}
.main-sidebar .nav .nav-item .nav-link.active > a, .main-sidebar .nav .nav-item .nav-link:hover > a, .main-sidebar .nav .nav-item.active > a, .main-sidebar .nav .nav-item:hover > a {
box-shadow: inset .1875rem 0 0 #C39E00;
background-color: #fbfbfb;
color: #C39E00;
}
.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover {
box-shadow: none;
background-color: transparent;
color: unset;
}
.btn-accent {
color: #fff;
border-color: #C39E00;
background-color: #C39E00 !important;
color: #fff !important;
box-shadow: none;
}
.btn-accent:hover {
color: #fff;
background-color: #C39E00;
border-color: #C39E00;
box-shadow: 0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(0,123,255,.25);
}
.btn-black:not([disabled]):not(.disabled).active, .btn-black:not([disabled]):not(.disabled):active, .btn-white:not([disabled]):not(.disabled).active, .btn-white:not([disabled]):not(.disabled):active {
box-shadow: none !important;
background-color: #C39E00;
border-color: #C39E00;
color: #fff;

}
.main-sidebar{
max-width: 62px;
top: 68px;
}
.promo-popup .pp-intro-bar, .promo-popup .pp-inner-content a{
background: #BA8D38;
}
.promo-popup > a{
display: none;
}
.promo-popup .pp-inner-content{
float: left;
width: 100%;  
padding: 15px !important
}
.promo-popup .pp-intro-bar{
padding: 10px 12px !important;
float: left;
width: 100%;
}
.main-sidebar{
background-color: #fff;
box-shadow: none;
}
.main-sidebar .nav-wrapper{
width: 62px;
/*box-shadow: 0 .125rem 9.375rem rgba(90,97,105,.1),0 .25rem .5rem rgba(90,97,105,.12),0 .9375rem 1.375rem rgba(90,97,105,.1),0 .4375rem 2.1875rem rgba(165,182,201,.1);*/
}
.main-sidebar .nav .nav-item .nav-link{
padding: 19px;
}
.main-sidebar:hover{
max-width: 17%;
}
.main-sidebar:hover >  .nav-wrapper{
width: 100%;
}
.main-sidebar .nav-wrapper:hover{
width: 100%;
/*background: #fff;*/
}
.nav li.active>a+ul 
{
max-height: 1000px;
}
a .fa  
{
/*float: right;*/
-webkit-transition: -webkit-transform .65s ease;
transition: transform .65s ease;
}
.nav li.active>a .fa 
{
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
.nav a, .nav label {
-webkit-transition: all .25s ease-in;
transition: all .25s ease-in;
}
.nav ul ul 
{
display: none;
list-style-type: none;
}
.group-list{
padding-left: 65px; 
}
/*.main-sidebar .nav .nav-item, .main-sidebar .nav .nav-link{
height: 63px;
}*/
.group-list li {
float: left;
width: 100%;
font-weight: 400;
padding: 9px;
}
.main-sidebar .nav .nav-item .nav-link i.material-icons {
font-size: 1.125rem;
top: 20px;
position: absolute;
left: 18px;
}
.main-sidebar .nav .nav-item{
position: relative;
}
.main-sidebar .nav .nav-item .nav-link > span{
padding-left: 45px;
float: left;
}
.btn-white{
background-color: white;
}
.alert {
width: 99.5%;
float: right;
font-size: 13px;
padding: 8px;
font-weight: normal;
}
.alert-dismissible .close {
padding-top: 4px;
padding-bottom: 4px;
}
.round{
display: inline-block;
height: 8px;
width: 8px;
border-radius: 50%;
margin-right: 3px;
position: relative;
top: -2px;
}
.green{
background-color: green;
}
.red{
background-color: red;
}
.yellow{
background-color: orange;
}
.btn-success{
background-color: #185573;
border-color: #185573;
color: #fff !important;
}
.main-content{
padding-right: 0;
}
.main-navbar{
left: 0;
position: fixed;
width: 100%;
}
.main-content .header-navbar, .main-content > .main-navbar{
box-shadow: none;
}
.main-content-container{
padding-top: 64px;
}
.input-daterange input{
text-align: left;
}
.table td, .table th {
border: 1px solid #ddd;
padding: 5px 7px !important;
}
.custom-control{
display: inline-block;	
}
.table2{
width: 100%;
}

.table2 p{
margin-bottom: 2px;
}
.table2 td, .table2 th{
border: 1px solid #ddd;
padding: 4px 7px;
}
.table2 tr td:nth-child(2){
border-right: none;
border-left: none;
}
.table2 tr td:nth-child(1){
border-right: none;
text-align: center;
}
.table2 tr td:nth-child(3){
text-align: right;
border-left: none;
}
.table2 tr th:nth-child(2){
border-left: none;
text-align: right;
}
.table2 tr th:nth-child(1){
border-right: none;
}
.dataTables_filter input, .dataTables_length select{
padding: .4375rem .75rem;
font-size: .8125rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
border: 1px solid #e1e5eb;
font-weight: 300;
will-change: border-color,box-shadow;
border-radius: .25rem;
box-shadow: none;
transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
padding: 0;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
font-size: 11px;
}
table.dataTable.no-footer{
border-bottom: none;
}
.dataTables_wrapper{
margin-top: 10px;
}
.modal-title{
float: left;
width: 100%;
}
.modal-header .close {
padding: 1rem;
margin: -.5rem -1rem -1rem auto;
}
.social .fa{
	display: inline-block;
	margin-right: 7px;
}
.social{
	padding-left: 7px;
}
.main-content > .main-content-container.container-fluid {

    min-height: 100vh;

}
.main-sidebar .nav-wrapper{
scrollbar-width: thin;
}
.dataTables_filter input, .dataTables_length select{
height: 30px;
font-size: 12px;
padding: 5px 10px;
}
table.dataTable thead th, table.dataTable thead td{
border-bottom: 1px solid #ddd;
background: #F3F4F6;
}
table.dataTable.no-footer {
    border-bottom: none;

}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
   background: #fff;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {

    background-color: #fff;

}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
.rounded-circle {
 border-radius: 50% !important;
    width: 35px;
    /*margin-right: 19px !important;*/
    float: left;
    margin-left: -15px;
    margin-right: 0 !important;
    margin-top: 3px;

}
}
.d-md-inline-block {
    display: inline-block !important;
    margin-top: -29px;
    margin-right: 1px;
    float: right;

}
.d-md-inline-block{
margin-top: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
background: #185573;
border-color: #185573;
z-index: 2;
color: #fff !important;
cursor: default;
}
#example_paginate{
border: 1px solid #ddd;
margin-top: 10px;
padding-top: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
min-width: 3.5em;
margin-left: 5px;
border-radius: 0px;
}
/*.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    border: 1px solid #ddd;
    padding: 0px;

}*/
@media only screen and (max-width: 768px) {
.input-group{
width: auto;
}
#main-logo{
    margin-top: 20px;
}
.d-md-inline-block{
display: block !important;
}
.main-sidebar{
top: 60px;
display: block;
}
.page-title a{
float: left;
/*width: 100%;*/
}
.group-list{
padding-left: 0px;
}
.group-list li a{
font-size: 11px;
}
.card-body {
overflow-x: scroll;
}
.pl-4, .px-4{
padding-left: 1rem !important;
padding-right: .5rem !important;
}
.page-header .page-title {
    font-size: 14px;
}
.page-header h4{
font-size: 14px;
margin-bottom: 0;
}
.form {
    margin: 0 auto !important;
    padding: 35px !important;
    top: 14% !important;
    left: 9px !important;
}
}